.header-menu
	.container
		.header-menu-content
			a(href="#").logo MonteMare
			nav.header-nav
				a(href="#").header-nav-item MenuItem
				a(href="#").header-nav-item MenuItem
				a(href="#").header-nav-item MenuItem
				a(href="#").header-nav-item MenuItem
				
			.header-col
				.contact
					.social-block
						a(href="#").social-block__item VK
						a(href="#").social-block__item Fb
						a(href="#").social-block__item Ok
					a(href="tel:8999999999").contact-item.contact-item--tel +7(999)999-99-99
					//- a(href="mailto: info@yandex.ru").contact-item.contact-item--mail info@yandex.ru
			button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
				span toggle menu
header.header
	.container
		.header-top
			h1.title-1 Monte-Mare
			p.header-description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores fugit assumenda qui fugiat sed facilis omnis praesentium expedita cupiditate.
	.header-center
		.container-small
			.header-center__text
				h2.title-2 экономия энергии до 30% в год
				p.subtitle Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
			.header-center__img