section.slider
    .container-small
        .slider-inner
            .slider-text
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iste, repellendus rem recusandae minima omnis quidem alias aperiam. Qui animi cum adipisci aut error perspiciatis impedit laboriosam tempore dolorem illo?
            .slider-hash
                a(href="#one") 1111
                a(href="#two") 222
                a(href="#tree") 333
            .section-slider.owl-carousel
                .owl-carousel-item(data-hash="one")
                    img(src="img/1.jpg", alt="img")
                .owl-carousel-item(data-hash="two")
                    img(src="img/2.jpg", alt="img")
                .owl-carousel-item(data-hash="tree")
                    img(src="img/1.jpg", alt="img")